# FRONTEND (React Native + Expo)
frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/dist/
frontend/build/
frontend/ios/
frontend/android/
frontend/web-build/
frontend/iniciar_expo.bat

# BACKEND (Spring Boot)
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y entornos
*.log
.env
.env.local
.env.*.local
